<html>
  <head>
    <title>It's a jungle in here...</title>
  </head>
<body>
  <h1>It's a jungle in here...</h1>

  <%= yield %>

  <address>
    <a href="mailto:wobh@yahoo.com"></a>
  </address>

  <script src="javascript/jquery-min.js"></script>
</body>
</html>
